HOT_UPDATER_SERVER_URL=https://your-deployment.convex.site/hot-updater
HOT_UPDATER_API_TOKEN=
HOT_UPDATER_S3_ACCESS_KEY_ID=
HOT_UPDATER_S3_SECRET_ACCESS_KEY=
HOT_UPDATER_S3_REGION=auto
HOT_UPDATER_S3_BUCKET=s3-local
HOT_UPDATER_S3_ENDPOINT=https://synbiodiet.com
HOT_UPDATER_S3_BASE_PATH=flavoneer-hot-updater
